.button {
  height: 42px;
  width: 151px;

  border: none;
  border-radius: 12px;
  background: var(--orange-dark);

  font-family: Roboto;
  font-size: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  transition: background-color 0.5s ease-out;
}

.button:disabled {
  background-color: var(--gray-middle);
  border-color: var(--gray-middle);
  cursor: not-allowed;
}

.button:hover,
.button:focus {
  background: var(--orange-light);
}

@media screen and (min-width: 768px) {
  .button {
    height: 52px;

    line-height: 1.5;
  }
}
