.waistListContainer {
  display: flex;
  justify-content: center;
}

.imgWaist {
  display: none;
}
@media screen and (min-width: 1440px) {
  .imgWaist {
    display: block;
    position: absolute;
    right: 0;
    top: 84px;
    z-index: -2;
  }
  .waistListContainer {
    height: 487px;
   justify-content: flex-start;
  }
}

.waistItemUl {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.waistItemUl::-webkit-scrollbar-thumb {
  background-color: var(--orange-light);
  border-radius: 12px;
}

.waistItemUl::-webkit-scrollbar {
  width: 8px;
}

.waistItemUl::-webkit-scrollbar-track {
  background: var(--grayUltraLight);
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .waistItemUl {
    overflow-y: auto;
    gap: 32px 16px;
    max-width: 100%;
    max-height: 726px;
    padding-right: 10px;
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .waistItemUl {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 32px 16px ;
    overflow-y: auto;
    max-height: 900px;
    padding-right: 16px;
    width: 850px;
  }
}

.noExercisesTitle {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 20px;
}
