.waistItemLi {
  width: 100%;
  min-height: 141px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .waistItemLi {
    min-height: 141px;
    max-height: 163px;
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .waistItemLi {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .waistItemLi {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .waistItemLi {
    width: 335px;
    height: 163px;
  }
}

@media screen and (min-width: 1440px) {
  .waistItemLi {
    width: 405px;
    max-width: 405px;
    height: 141px;
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cardLabel {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: var(--snow-white);
  padding: 5px 7.5px;
  border-radius: 4px;
  background: var(--dark);
  text-transform: uppercase;
}
.btnLabel {
  background: transparent;
  text-align: center;
  border: none;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btnLabel:hover ,
.btnLabel:focus{
  color:var(--orange-dark);
}
.svgExercise {
  width: 13px;
  height: 13px;
}
@media screen and (min-width: 768px) {
  .svgExercise {
    width: 16px;
    height: 16px;
  }
}
.exercisesTitleBox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.title {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  width: 263px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.33;
  }
}

.svgExerciseRun {
  width: 16px;
  height: 16px;
  fill: var(--white);
}
.svgExerciseRun:hover,
.svgExerciseRun:focus{
  fill: var(--bage);
}
.spanExerciseRun {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bage);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.spanExerciseRun:hover,
.spanExerciseRun:focus{
  background-color: var(--white);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
}

.listItem {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--grayEx);
  font-size: 12px;
  line-height: 1.5;
}

.listItemValue {
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

