.inputModalBox {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.modalInputcall {
  background-color: inherit;
  border-radius: 12px;
  border: 1px solid var(--orange-dark);
  padding: 8px;
  color: var(--white);

  width: 100%;

  margin-bottom: 16px;

  outline: none;

  @media screen and (min-width: 768px) {
    max-width: 155px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.buttonModalBox {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 64px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.closeModalButton {
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--grayMiddle);
  width: 121px;
  height: 42px;

  @media screen and (min-width: 768px) {
    height: 52px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.modalInput {
    background-color: inherit;
    border-radius: 12px;
    border: 1px solid var(--orange-dark);
    padding: 8px;
    color: var(--white);
  
    width: 100%;
  
    margin-bottom: 16px;
  
    outline: none;
  }
  
  .modalInput:disabled {
    color: var(--grayMiddle);
    outline: none;
  }