h2 {
  margin: 0;
}

.exercisesWrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1440px) {
  .exercisesWrapper {
    padding-left: 96px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
.exercisesBox {
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .exercisesBox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0;
  }
}

.exercisesTitle {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.div {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 375px) {
  .div {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .div {
    width: 768px;
  }
  .exercisesTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .div {
    width: 1440px;
  }
}
.btnBack {
  background-color: transparent;
  border: 0;
  line-height: 1.2;
  color: var(--grayEx);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 0;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
.svgBack {
  fill: var(--grayEx);
  stroke: var(--grayEx);
}

.buttonsWrapper {
  margin-top: 32px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 72px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

.buttonsWrapper.activeClass {
  margin-top: 0px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .head {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .head {
    margin: 0;
    width: 1248px;
  }
}
