.wrapper {
  padding-left: 16px;
  margin-top: 22px;
  padding-right: 22px;
  gap: 40px;
  overflow-y: scroll;
  height: 810px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-height: 170px;
    margin-top: 19px;
    padding-right: 16px;
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    gap: 8px;
    margin-top: 19px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.wrapperList {
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .wrapperList {
    gap: 8px;
  }
}

.title {
  color: var(--orange-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.text {
  border: 1px solid var(--gray-middle);
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
}

.textRecommend {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.wrapperRecommend {
  display: flex;
  border: 1px solid var(--gray-middle);
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  width: 76px;
}
@media screen and (min-width: 768px) {
  .wrapperRecommend {
    width: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapperRecommend {
    width: 110px;
  }
}

.wrapperItemTitle {
  width: 297px;
}
@media screen and (min-width: 768px) {
  .wrapperItemTitle {
    width: 204px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapperItemTitle {
    width: 212px;
  }
}

.wrapperItemCategory {
  width: 297px;
}
@media screen and (min-width: 768px) {
  .wrapperItemCategory {
    width: 128px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapperItemCategory {
    width: 166px;
  }
}

.wrapperItemCalories {
  width: 81px;
}
@media screen and (min-width: 768px) {
  .wrapperItemCalories {
    width: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapperItemCalories {
    width: 105px;
  }
}

.wrapperItemWeigth {
  width: 80px;
}
@media screen and (min-width: 768px) {
  .wrapperItemWeigth {
    width: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapperItemWeigth {
    width: 105px;
  }
}

.wrapperItemRecommend {
  width: 102px;
}

.flex {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .flex {
    width: 110px;
  }
}
@media screen and (min-width: 1440px) {
  .flex {
    width: 144px;
  }
}

.btnDelete {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
@media screen and (min-width: 1440px) {
  .btnDelete {
    margin-left: 8px;
  }
}

.containerError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.containerError span {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-middle);
}
