@media (max-width: 374px) {
  .wrapper {
    display: flex;
    margin-top: 20px;
  }
  .svg {
  }
  .info {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #efede8;
    margin-left: 8px;
  }
}
