.container {
  padding-top: 200px;
  padding-bottom: 246px;
}
.wrapper {
  position: relative;
  width: 598px;
  height: 234px;
  margin-left: 96px;
  margin-bottom: 64px;
}

.title {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 70px;
  line-height: 78px;
  /* letter-spacing: 0,01em; */
}
.overlay {
  background-image: url(/src/assets/line.svg);
  position: absolute;
  top: 84px;
  left: -16px;
  width: 187px;
  height: 69px;
}

.list {
  display: flex;
  gap: 20px;
  margin-left: 96px;
}

.link1 {
  padding: 16px 60px 16px 60px;
  border-radius: 12px;
  background-color: var(--orange-dark);
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.button:hover {
  background-color: var(--black);
  border: 1px solid var(--gray-middle);
}

/* .hero {
} */
.image {
  background-image: url(./images/side-view-people-training-gym1.jpg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 670px;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 0;
}
.statistic1 {
  display: flex;
  align-items: center;
  position: relative;
  top: 384px;
  right: 0;
  background-color: var(--gray);
  border-radius: 12px;
  width: 206px;
  height: 96px;
  padding-left: 23px;
}
.boxp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-left: 12px;
}
.number1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  margin: 0;
}
.vid {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-light);
  margin: 0;
}

.link1:hover {
  background-color: var(--orange-light);
}

.link2 {
  padding: 16px 60px 16px 60px;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: var(--black);
  border-radius: 12px;
  border: 1px solid var(--gray-middle);
}

.link2:hover {
  border: 1px solid var(--orange-dark);
}
