@media (max-width: 374px) {
  .contaiterItem {
    width: 157px;
    height: 96px;
    padding: 14px;
    background-color: #e6533c;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .svg {
    display: inline;
  }

  .containerText {
    display: flex;
    align-items: center;
  }

  .text {
    margin-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: inline;
  }

  .contaiterCount {
    margin-top: 22px;
  }

  .count {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
}
