.setName {
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--white);
  opacity: 0.5;
}

.basicInfoContainer {
  display: flex;
  gap: 14px;
  flex-direction: column;
  margin-bottom: 14px;
}

.basicInfoInput {
  display: block;
  height: 46px;
  width: 335px;
  font-size: 14px;
  color: var(--gray-light);
  background-color: transparent;
  border: 1px solid var(--gray-middle);
  border-radius: 12px;
  padding: 14px;
  transition: border-color 0.5s ease-out;
}

.basicInfoInput[name='username'] {
  color: var(--white);
}

.basicInfoInput[name='username']:is(:hover, :focus) {
  background-color: transparent;
  color: var(--white);
  border-color: var(--orange-dark);
  outline: none;
}

.infoInput {
  height: 46px;
  width: 160px;
  font-size: 14px;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--gray-middle);
  border-radius: 12px;
  padding: 14px;
  transition: border-color 0.5s ease-out;
}

.infoInput:is(:hover, :focus) {
  background-color: transparent;
  color: var(--white);
  border-color: var(--orange-dark);
  outline: none;
}

.invalidInput {
  border-color: var(--error);
}

.secondaryInfoLabel {
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
  align-items: flex-end;
}

.flexContainer:nth-of-type(2) {
  margin-bottom: 20px;
}

.bloodSexGroup {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.radioGroup {
  display: flex;
  gap: 8px;
}

.lifestyleGroup {
  display: flex;
  max-width: 335px;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 40px;
}

.radioBtnLabel {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: var(--white);
}

.radioBtn {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.customRadioBtn {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-color: transparent;
  border: 2px solid var(--gray-middle);
  border-radius: 50%;
  position: relative;
}

.radioBtn:checked + .customRadioBtn {
  border-color: var(--orange-light);
}

.radioBtn:checked + .customRadioBtn::before {
  content: '';
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--orange-light);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saveBtn {
  width: 115px;
  height: 42px;
  color: var(--gray-light);
  font-weight: 500;
  border: 1px solid var(--orange-dark);
  background-color: var(--orange-dark);
  border-radius: 12px;
  transition: background-color 0.5s ease-out;
}

.saveBtn:is(:hover, :focus) {
  outline: none;
  background-color: var(--orange-light);
  border-color: var(--orange-light);
}

.saveBtn:disabled {
  background-color: var(--gray-middle);
  border-color: var(--gray-middle);
  cursor: not-allowed;
  transition: background-color 0.5s ease-out;
}

.saveBtn:disabled:is(:hover, :focus) {
  background-color: var(--gray-middle);
  border-color: var(--orange-dark);
  cursor: not-allowed;
}

.fieldWithError {
  display: block;
}
.birthdayForm {
  cursor: pointer;
}

.error {
  position: relative;
  margin-top: 2px;
  padding-left: 2px;
}

.ErrorMessage {
  color: var(--red);
  position: absolute;
  font-size: 10px;
  z-index: 1;
}

/* media */

@media (min-width: 768px) {
  .formContainer {
    max-width: 768px;
  }

  .basicInfoContainer {
    flex-direction: row;
    align-items: flex-end;
  }

  .setName {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .basicInfoInput {
    height: 52px;
    width: 341px;
    font-size: 16px;
  }

  .infoInput {
    height: 52px;
    width: 163px;
    font-size: 16px;
  }

  .secondaryInfoContainer {
    display: flex;
    gap: 14px;
    margin-bottom: 16px;
  }

  .flexContainer {
    margin-bottom: 0;
  }

  .flexContainer:nth-of-type(2) {
    margin-bottom: 0;
  }

  .bloodSexGroup {
    gap: 32px;
    margin-bottom: 32px;
  }

  .lifestyleGroup {
    max-width: 523px;
    margin-bottom: 38px;
  }

  .radioBtnLabel {
    font-size: 16px;
  }

  .saveBtn {
    width: 144px;
    height: 56px;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .formContainer {
    padding-right: 56px;
    max-width: 756px;
    border-right: 1px solid var(--gray-middle);
  }

  .ErrorMessage {
    font-size: 12px;
  }
}

/* input[type="number"]::-webkit-scrollbar {
  width: 12px;
}

input[type="number"]::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

input[type="number"]::-webkit-scrollbar-track {
  background-color: lightgrey;
}

input[type="number"] {
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
} */

/* Пример стилей для ползунка прокрутки в поле ввода с типом "number" */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Стилизация ползунка прокрутки WebKit (Chrome, Safari) */
input[type='number'] {
  -moz-appearance: textfield;
}
