.nav {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.naviLink {
  display: flex;
  padding: 10px 27px;
  justify-content: center;
  align-items: center;
  color: #efede8;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);

  transition:
    background-color 0.3s,
    border 0.3s;

  &:hover,
  &:focus {
    background-color: var(--orange-dark);
    border: 1px solid var(--orange-dark);
  }
}

.activeNaviLink {
  display: flex;
  padding: 10px 27px;
  justify-content: center;
  align-items: center;
  color: #efede8;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background-color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
}
