.nav {
  color: var(--white);
  gap: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  background-color: var(--black);
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 27px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.20);
}

.link:hover {
  background-color: var(--orange-dark);
  text-decoration: underline;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  color: #000; 
}

.nav a.active {
  font-weight: bold;
  background-color: var(--orange-dark);
  text-decoration: underline;
}