.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 4, 4, 0.40);
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 280px;
    transform: translate(-50%, -50%);
    padding: 48px 24px;
    background-color: #10100F;
    border-radius: 12px;
    border: 1px solid rgba(239, 237, 232, 0.20);
}

.close_x {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 22px;
    height: 22px;
}

@media screen and (min-width: 375px) {
    .modal_content {
        max-width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .modal_content {
        min-width: 430px;
        max-width: 694px;
        width: fit-content;
    }

    .close_x {
        top: 16px;
        right: 16px;
        width: 26px;
        height: 26px;
    }
}

