/* .layoutContainer   */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 34px 32px 33px 32px;
  border-bottom: 1px solid rgba(239, 237, 232, 0.20);
}

.logoWrap {
  display: flex;
  align-items: left;
}

.user {
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 769px) {
    gap: 32px;
  }
}
