.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  width: 100%;
  position: relative;

  @media screen and (min-width: 768px) {
    height: 84px;
  }
}

.logoWrap {
  display: flex;
  align-items: left;
}

.user {
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 769px) {
    gap: 32px;
  }
}

.stickyBottomLine {
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 90;
  border-bottom: 1px solid rgba(239, 237, 232, 0.2);
}

.stickyBottomLineNone {
  border-bottom: none;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 90;
}
