@media (max-width: 374px) {
  .container {
    display: flex;
    align-items: center;
    margin-left: 96px;
  }

  .containerDate {
    display: flex;
    align-items: center;
  }

  .datePickerInput {
    font-weight: 700;
    size: 18px;
    line-height: 20px;
    margin-right: 8px;
  }

  .wrapperArrows {
    margin-left: 20px;
    display: flex;
  }

  .arrowLeft {
    margin-right: 6px;
  }
}
