.container2 {
  margin-top: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 364px;
}

.field {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 364px;
  color: white;
  background-color: var(--black);
  border: 1px solid var(--gray-middle);
  border-radius: 12px;
  padding-left: 14px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--orange-dark);
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 56px;
  width: 190px;
  margin-top: 64px;
}

.button:hover {
  background-color: var(--orange-light);
}
