.container2 {
  margin-top: 28px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 335px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    gap: 22px;
    width: 364px;
  }
}

.input {
  display: flex;
  justify-content: center;
  height: 46px;
  max-width: 335px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--gray-middle);
  transition: border-color 0.5s ease-out;
  border-radius: 12px;
  padding-left: 14px;
  outline: none;
  @media screen and (min-width: 768px) {
    height: 52px;
    width: 364px;
    padding-left: 14px;
  }
}
.input:hover,
.input:focus {
  background-color: transparent;
  transition: border-color 0.5s ease-out;
  color: var(--white);
  border-color: var(--orange-dark);
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--orange-dark);
  border: transparent;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  width: 136px;
  margin-top: 28px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 56px;
    width: 190px;
    margin-top: 64px;
  }
}

.button:hover,
.button:focus {
  transition: border-color 0.5s ease-out;
  background-color: var(--orange-light);
  outline: none;
}

.ErrorMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: var(--error);
  position: absolute;
  font-size: 12px;
  z-index: 1;
}

.successMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: var(--green);
  position: absolute;
  font-size: 12px;
  z-index: 1;
}
.inputSuccess {
  border-color: var(--green);
}
.inputError {
  border-color: var(--error);
}

.buttonEye {
  position: relative;
}

.eye {
  position: absolute;
  bottom: 34px;
  left: 170px;
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    bottom: 37px;
    left: 300px;
  }
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0 1000px #000 inset;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
  border: 1px solid var(--orange-dark);
}
