.module_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left_side {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play {
  width: 24px;
  height: 24px;
  margin-top: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.calories {
  color: rgba(239, 237, 232, 0.3);
  font-size: 14px;
  line-height: 1.28;
}

.calories_amount {
  color: var(--orange-dark);
}

.right_side {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
}

.gif {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
}

.exercise_descr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.exercise_div {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100%;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
  overflow: hidden;
}

.type {
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
  line-height: 1.33;
}

.type_descr {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 375px) {
  .gif {
    width: 270px;
    height: 226px;
  }

  .exercise_div {
    width: 140px;
  }
}

@media screen and (min-width: 768px) {
  .module_container {
    flex-direction: row;
    gap: 16px;
  }

  .right_side {
    gap: 254px;
    align-items: flex-end;
  }

  .exercise_div {
    width: 168px;
    height: 70px;
  }

  .type {
    line-height: 1.5;
  }
  .type_descr {
    line-height: 1.5;
  }
}
.button {
  height: 42px;
  width: 151px;

  border: none;
  border-radius: 12px;
  background: var(--orange-dark);

  font-family: Roboto;
  font-size: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
}

.button:hover,
.button:focus {
  background: var(--orange-light);
}

@media screen and (min-width: 768px) {
  .button {
    height: 52px;

    line-height: 1.5;
  }
}

.button:disabled {
  background-color: var(--gray-middle);
  border-color: var(--gray-middle);
  cursor: not-allowed;
  transition: background-color 0.5s ease-out;
}