p {
  margin: 0;
}

/* .module_container {

} */

.exercise_descr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.exercise_div {
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
}

.type {
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
  line-height: 1.33;
}

.type_descr {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .type {
    line-height: 1.5;
  }
  .type_descr {
    line-height: 1.5;
  }
}
