.layoutContainer {
  width: var(--container-width);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .layoutContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .layoutContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .layoutContainer {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-top: 40px;
}

.titleCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemsCont {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
  }
}
