.signup {
  padding-top: 200px;
  padding-left: 96px;
}

.container1 {
  width: 496px;
  height: 108px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 16px;
}

.text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-middle);
}

.text2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray-light);
  margin-top: 12px;
}
.link {
  text-decoration: underline;
  color: var(--gray-soft);
}
