.signup {
  padding-top: 66px;
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 105px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 116px;
  }
}

.container1 {
  width: 335px;
  @media screen and (min-width: 768px) {
    width: 496px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

.text1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-middle);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray-light);
  margin-top: 12px;
}

.link {
  text-decoration: underline;
  color: var(--gray-soft);
}
