@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --container-width: 100%;
  --black: #040404;
  --orange-dark: #e6533c;
  --orange-light: #ef8964;
  --bage: #efa082;
  --white: #efede8;
  --red: #e9101d;
  --green: #419b09;
  --snow-white: #fff;
  --error: #d80027;

  --gray: #303030;
  --gray-middle: rgba(239, 237, 232, 0.3);
  --gray-light: rgba(239, 237, 232, 0.65);
  --gray-soft: rgba(239, 237, 232, 1);
  --grayUltraLight: rgba(239, 237, 232, 0.1);
  --grayEx: rgba(239, 237, 232, 0.4);
  --orange: rgba(239, 137, 100, 1);
  --dark: rgba(239, 237, 232, 0.05);
  --grayToolTip: rgba(239, 237, 232, 0.5);
}

body {
  background-color: var(--black);
  /* background-image: url('./assets/background.png'); */
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.layoutContainer {
  width: var(--container-width);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  :root {
    --container-width: 375px;
  }
  .layoutContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 768px;
  }
  .layoutContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1440px;
  }
  .layoutContainer {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.no-scroll {
  overflow: hidden;
}
