.input {
  margin-right: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.arrowLeft {
  margin-right: 6px;
  margin-left: 20px;
  background-color: inherit;
  border: none;
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}
.arrowRight {
  background-color: inherit;
  border: none;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.opacity {
  opacity: 0.2;
}
.svg {
  fill: rgba(239, 237, 232, 1);
}
.svg:hover,
.svg:focus {
  fill: rgba(239, 237, 232, 0.2);
}
