.image {
  background-image: url(/src/assets/home-mobile.jpg);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 571px;
  width: 298px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;

  @media screen and (min-width: 768px) {
    background-image: url(/src/assets/home-tablet.jpg);
    height: 893px;
    width: 437px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(/src/assets/home-desc.jpg);
    background-position: right top;
    height: 100vh;
    width: 780px;
  }
}

.image2 {
  @media screen and (max-width: 768px) {
    background-image: url(/src/assets/home-mobile-dark.jpg);
  }
}

.statistic1 {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(239, 237, 232, 0.2);
  border-radius: 12px;
  bottom: 200px;
  left: 160px;
  width: 110px;
  height: 66px;
  padding-left: 14px;
}
@media screen and (min-width: 375px) {
  .statistic1 {
    bottom: 200px;
    left: 136px;
    width: 146px;
    height: 66px;
    padding-left: 18px;
  }
}
@media screen and (min-width: 768px) {
  .statistic1 {
    bottom: 330px;
    left: 180px;
    width: 206px;
    height: 96px;
    padding-left: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .statistic1 {
    bottom: 480px;
    left: 400px;
  }
}

.icon_users {
  width: 16px;
  height: 16px;
  fill: var(--white);
}

.boxsvg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--orange-light);
  border-radius: 50%;
}

.boxp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  margin-left: 8px;
  @media screen and (min-width: 768px) {
    gap: 8px;
    margin-left: 12px;
  }
}
.number1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  margin: 0;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }
}
.vid {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-light);
  margin: 0;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.statistic2 {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--grayUltraLight);
  border-radius: 12px;
  bottom: 156px;
  left: 8px;
  width: 134px;
  height: 66px;
  padding-left: 14px;
}
@media screen and (min-width: 375px) {
  .statistic2 {
    bottom: 146px;
    left: -32px;
    width: 146px;
    padding-left: 18px;
  }
}
@media screen and (min-width: 768px) {
  .statistic2 {
    bottom: 210px;
    left: -60px;
    width: 206px;
    height: 96px;
    padding-left: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .statistic2 {
    bottom: 344px;
    left: 150px;
  }
}

.icon_play {
  width: 12px;
  height: 12px;
  margin-left: 3px;
}

.statistic3 {
  position: absolute;
  bottom: 100px;
  left: 160px;
  background-color: rgba(239, 137, 100, 0.6);
  border-radius: 12px;
  width: 126px;
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 4px;
}
@media screen and (min-width: 375px) {
  .statistic3 {
    left: 130px;
    bottom: 103px;
    width: 140px;
  }
}
@media screen and (min-width: 768px) {
  .statistic3 {
    bottom: 164px;
    left: 190px;
    width: 196px;
    height: 114px;
    padding-top: 14px;
    padding-left: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .statistic3 {
    bottom: 300px;
    left: 450px;
  }
}

.boxsvg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--bage);
  border-radius: 50%;
  margin-bottom: 8px;
}

.number2 {
  display: inline;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  margin-top: 0;
  margin-left: 2px;
  @media screen and (min-width: 768px) {
    display: inline;
    font-size: 48px;
    line-height: 50px;
    color: var(--white);
    margin-right: 11px;
  }
}

.cal {
  display: inline;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-light);
  @media screen and (min-width: 768px) {
    display: inline;
    font-size: 16px;
    line-height: 24px;
  }
}

.stat3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  padding-right: 10px;
}

.vid2 {
  margin-top: -8px;
  font-size: 12px;
  line-height: 16px;
  text-align: end;
  color: var(--gray-light);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.statistic4 {
  position: absolute;
  bottom: 44px;
  left: 20px;
  background-color: rgba(239, 137, 100, 0.4);
  border-radius: 12px;
  width: 110px;
  height: 86px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 375px) {
  .statistic4 {
    bottom: 44px;
    left: -45px;
    width: 152px;
    height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .statistic4 {
    bottom: 54px;
    left: -120px;
    width: 196px;
    height: 114px;
    padding-top: 14px;
    padding-left: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .statistic4 {
    bottom: 164px;
    left: 200px;
  }
}

.fire {
  width: 15px;
  height: 15px;
}

.boxsvg4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  background-color: var(--bage);
  border-radius: 50%;
  margin-bottom: 8px;
}

.number3 {
  display: inline;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  margin-top: 0;
  margin-left: -6px;
  @media screen and (min-width: 768px) {
    display: inline;
    font-size: 48px;
    line-height: 50px;
    color: var(--white);
    margin-right: 11px;
  }
}

.statistic5 {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--gray-middle);
  border-radius: 12px;
  bottom: 10px;
  left: 150px;
  width: 116px;
  height: 70px;
  padding-left: 18px;
}
@media screen and (min-width: 375px) {
  .statistic5 {
    bottom: 20px;
    left: 120px;
    width: 154px;
    height: 66px;
  }
}
@media screen and (min-width: 768px) {
  .statistic5 {
    bottom: 30px;
    width: 206px;
    height: 96px;
    padding-left: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .statistic5 {
    bottom: 140px;
    left: 500px;
    background-color: rgba(48, 48, 48, 0.8);
  }
}

.dumbbell {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.stat4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  padding-right: 6px;
 }
 @media screen and (min-width: 375px) {
  .stat4 {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .stat4 {
    justify-content: flex-start;
    gap: 10px;
  }
}
