.image {
  background-image: url(/src/assets/home-mobile.jpg);
  z-index: -1;
  position: absolute;
  top: 91px;
  /* right: -148px; */
  right: 0;
  height: 669px;
  width: 446px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;

  @media screen and (min-width: 768px) {
    background-image: url(/src/assets/home-tablet.jpg);
    /* top: 131px; */
    top: 47px;
    /* right: -233px; */
    right: 0;
    height: 1005px;
    width: 670px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(/src/assets/home-desc.jpg);
    /* top: -152px; */
    top: 0;
    /* top: -68px; */
    right: 0;
    height: 100vh;
  }
}
.statistic1 {
  display: flex;
  align-items: center;
  position: relative;
  top: 384px;
  right: 0;
  background-color: var(--gray);
  border-radius: 12px;
  width: 206px;
  height: 96px;
  padding-left: 23px;
}

.boxsvg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--orange-light);
  border-radius: 50%;
}

.boxp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-left: 12px;
}
.number1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  margin: 0;
}
.vid {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-light);
  margin: 0;
}

.statistic2 {
  position: relative;
  top: 519px;
  left: 458px;
  background-color: var(--orange-light);
  border-radius: 12px;
  width: 180px;
  height: 110px;
  padding-top: 14px;
  padding-left: 28px;
}

.boxsvg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--bage);
  border-radius: 50%;
  margin-bottom: 8px;
}

.number2 {
  display: inline;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  color: var(--white);
  margin-top: 0;
  margin-right: 11px;
}

.cal {
  display: inline;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-light);
  margin-top: 0;
}
