.container2 {
  padding-top: 221px;
  width: 477px;
}
.title {
  font-weight: 500;
  font-size: 160px;
  line-height: 150px;
  /* letter-spacing: 0, 01em; */
  color: var(--white);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-top: 28px;
  margin-bottom: 28px;
}
.link {
  padding: 12px 40px 12px 40px;
  border-radius: 12px;
  background-color: var(--orange-dark);
  border: 1px solid var(--gray-middle);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  @media screen and (min-width: 768px) {
    padding: 16px 60px 16px 60px;
    font-size: 20px;
    line-height: 24px;
  }
}
.link:hover {
  background-color: var(--orange-light);
  border: 1px solid var(--white);
}

.image {
  background-color: black;
  /* background-image: url(/src/pages/Home/home-mobile-i.jpg); */
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 669px;
  width: 446px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    /* background-image: url(/src/assets/home-tablet.jpg); */
    height: 1005px;
    width: 670px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(/src/assets/home-desc.jpg);
    top: 0;
  }
}

.container1 {
  background-color: var(--orange-dark);
  z-index: -1;
  position: absolute;
  top: 0;
  width: 669px;
  height: 100vh;

  @media screen and (min-width: 1440px) {
    top: 0;
  }
}
