.error {
  height: 100vh;
  width: 669px;
}

.container1 {
  position: absolute;
  height: 100vh;
  width: 669px;
  top: 0;
  left: 0;
  background-color: var(--orange-dark);
}

.image {
  background-image: url(/src/pages/Home/home-mobile-i.jpg);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;

  @media screen and (min-width: 768px) {
    background-image: url(/src/assets/home-tablet.jpg);
    height: 893px;
    width: 437px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(/src/assets/home-desc.jpg);
    background-position: right top;
    width: 780px;
    height: 100vh;
  }
}

.container2 {
  position: absolute;
  top: 221px;
  left: 96px;
  width: 477px;
}

.title {
  font-weight: 500;
  font-size: 160px;
  line-height: 150px;
  letter-spacing: 0, 01em;
  color: var(--white);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-bottom: 28px;
}
.link {
  padding: 12px 40px 12px 40px;
  border-radius: 12px;
  background-color: var(--orange-dark);
  border: 1px solid var(--gray-middle);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  @media screen and (min-width: 768px) {
    padding: 16px 60px 16px 60px;
    font-size: 20px;
    line-height: 24px;
  }
}
.link:hover {
  background-color: var(--orange-light);
  border: 1px solid var(--white);
}
